<%= stylesheet_link_tag "home", media: "all" %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
<% end %>
<p class="welcome_message">こんにちは、<%= current_user.name %>さん</p>

<%= render partial: "home/lessons_container", locals: { lessons: @lessons, student: @display_student } %>

<% if logged_in? %>
  <p>あなたは、<%= current_user.role %>です。</p>
<% end %>
<%= button_to "ログアウト", logout_path, method: :delete %>
